.wbdv-hyperlink {
    text-decoration: none !important;
}

.wbdv-property-card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.wbdv-like-count {
    color: darksalmon
}

.wbdv-property-card-icon {
    margin-left: 20px;
    color: dodgerblue;
}

.wbdv-property-card-icon-position{
    position: relative;
    bottom: -4px;
}

.wbdv-fav-property-icon-active {
    margin-left: 20px;
    color: orange;
    position: relative;
    top: -4px;
}


.wbdv-fav-property-icon-inactive {
    margin-left: 20px;
    color: grey;
    position: relative;
    top: -4px;
}
