.faqHeader {
    font-size: 30px;
    margin: 0px;
}

.panel-heading [data-toggle="collapse"]:after {
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    color: #454444;
}